.recipe-card {
  border: 1px solid $border-color;
  border-radius: 5px;
  margin: 0 auto;
  padding: 12px;

  .actions {
    @include flex;
    justify-content: flex-end;
  }

  &.recipe-ingredient-form {
    width: 50%;
  }

}
