@import 'variables';

a {

  color: $link-color;

  &:visited {
    color: lighten($link-color, 10);
  }

  &.btn-link {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    color: $text-color;
    padding: 6px 12px;
    text-decoration: none;
  }

  &.plain-link {
    color: $text-color;
    text-decoration: none;
  }

}
