// colors
$black: #222;
$blue: #2d2da5;
$gray: #ccc;
$light-blue: #d7d9ea;
$light-gray: #fafafa;
$light-green: #96dfbc;
$light-red: #cc8181;
$white: #fff;

$border-color: $gray;
$button-primary-color: $light-green;
$default-background-color: $white;
$link-color: $blue;
$nav-background-color: $light-gray;
$text-color: $black;
