@import 'variables';

nav {

  &.navbar {
    @include flex;

    align-items: baseline;
    background-color: $nav-background-color;
    height: $nav-height;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }


}
